// Fuentes

$roboto: 'Roboto', sans-serif;
$montse: 'Montserrat', sans-serif;

// Colores

$violeta: #572ee5;
$verde: #50e3c2;
$blanco: #f3f5f8;
$gris: #9cafc3;
$darkBackground: #37383c;
$darkBackground2: #222326;

// Media Query

$mobile: 400px;
$desktop: 700px;
